<div class="navbar">
    <div class="nav-container">
    <%= link_to "Jacob Rees", root_path, class:"name-link"%>
        <ul class="nav">
            <li><%= link_to "about", about_path, class:"nav-links" %></li>
            <li><%= link_to "projects", projects_path, class:"nav-links" %></li>
            <li><%= link_to "contact", contact_path, class:"nav-links" %></li>
        </ul>
    </div>
        
</div>