<div class="navbar">
    <div class="nav-container">
    <a class="name-link" href="/">Jacob Rees</a>
        <ul class="nav">
            <li><%= link_to "about", about_path, class:"nav-links" %></li>
            <li><%= link_to "projects", projects_path, class:"nav-links" %></li>
            <li><%= link_to "contact", about_path, class:"nav-links" %></li>
            <svg class="hamburger" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
        </ul>
    </div>
        
</div>