<div class="navbar">
    <div class="nav-container">
    <a class="nav-links" href="/">Jacob Rees</a>
        <ul class="nav">
            <li><%= link_to "about", about_path, class:"nav-links" %></li>
            <li><%= link_to "projects", projects_path, class:"nav-links" %></li>
            <li><%= link_to "contact", about_path, class:"nav-links" %></li>
        </ul>
    </div>
        
</div>