<%= render "navbar"%>
<div class="about-me-title-container">
    <h2 class="about-title">about</h2>
</div>
<div class="about-me-container">
<%= image_tag("60970452.jpg", class: "profile-img") %>
<p class="about-me-txt">Hello! My name is Jacob, and I am a creative developer from the United Kingdom. As a lover of music and a curious mind for the ever-evolving world of technology, I bring a unique perspective to my work.</p>
<p class="about-me-txt">My passion lies in frontend web development, where I enjoy designing and building beautiful and intuitive user interfaces. I find it exciting to explore the latest trends and technologies in this field, always seeking to incorporate the most innovative ideas into my projects.</p>
<p class="about-me-txt">When I'm not coding, I love to indulge in my passion for music. Whether it's playing guitar or listening to my favorite artists, music has always been a source of inspiration and creativity for me.</p>
<p class="about-me-txt">Thank you for taking the time to visit my website. If you have any questions or would like to discuss a potential project, please don't hesitate to get in touch. I look forward to hearing from you!</p>
</div>
