<%= render 'navbar'%>

<div class="about-container">
    <%= image_tag("60970452.jpg", class:"profile-img") %>
    <h1>About Me</h1>
    <p class="about-me-text">With a passion for both creativity and innovation, I am a skilled developer based in the United Kingdom. Combining my love for technology with a deep appreciation for design, I strive to bring a fresh and unique perspective to every project I work on.</p>
    <p class="about-me-text">My passion lies in frontend web development, where I enjoy designing and building beautiful and intuitive user interfaces. I find it exciting to explore the latest trends and technologies in this field, always seeking to incorporate the most innovative ideas into my projects.</p>
    <p class="about-me-text">When I'm not coding, I love to indulge in my passion for music. Whether it's playing an instrument or listening to my favorite artists, music has always been a source of inspiration and creativity for me.</p>
    <p class="about-me-text">Thank you for taking the time to visit my website. If you have any questions or would like to discuss a potential project, please don't hesitate to get in touch. I look forward to hearing from you!</p>
    <button class="resume-btn">Resume</button>
</div>
