    <div class="canvas-wrapper">
      <canvas id="canvas1"></canvas>
      <h1 class="name-title">Jacob Rees</h1>
      <div class="home-section">
        <a class="home-links" href="#about">about</a>
        <a class="home-links" href="#projects">projects</a>
        <a class="home-links" href="#contact">contact</a>
      </div>
    </div>
    <%= javascript_include_tag("custom/home.js")%>