    <div class="canvas-wrapper">
      <canvas id="canvas1"></canvas>
      <h1 class="name-title">Jacob Rees</h1>
      <div class="home-section">
        <a class="home-links" href="#about">About</a>
        <a class="home-links" href="#projects">Projects</a>
        <a class="home-links" href="#contact">Contact</a>
      </div>
    </div>