<%= render "navbar"%>

<div id="showcase" class="showcase-section">
      <h2 class="showcase-title">Projects</h2>
      <div class="projects-container">
        <div class="project-container">
          <h3 class="project-title">Phaser 3 Game</h3>
          <div class="project-content-container">
            <a target="_blank" href="https://clever-colden-aa2cd5.netlify.app/"
              ><%= image_tag("Space-Dodger.png", alt: "project image", class: "project-img") %></a>

            <div class="project-description-container">
              <div class="project-technologies">
                <p class="project-technology">HTML</p>
                <p class="project-technology">SCSS</p>
                <p class="project-technology">JavaScript</p>
                <p class="project-technology">Phaser 3</p>
                <p class="project-technology">Webpack</p>
                <p class="project-technology">Firebase</p>
              </div>
              <p class="project-description">
                This is a game built in Javascript. The objective of the game is
                to dodge the asteroids and collect the stars. The game was built
                using the Phaser 3 game framework.
              </p>
              <div class="project-links">
                <a
                  class="website-link"
                  target="_blank"
                  href="https://clever-colden-aa2cd5.netlify.app/"
                  >Website</a
                >
                <a
                  class="github-link"
                  target="_blank"
                  href="https://github.com/jacobrees/Phaser-3-Game"
                  >Code/Docs</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="project-container">
          <h3 class="project-title">To Do List</h3>
          <div class="project-content-container-invert">
            <a target="_blank" href="https://festive-curran-727aff.netlify.app/"
              ><%= image_tag("todo.png", alt: "project image", class: "project-img") %></a>

            <div class="project-description-container">
              <div class="project-technologies">
                <p class="project-technology">HTML</p>
                <p class="project-technology">SCSS</p>
                <p class="project-technology">JavaScript</p>
                <p class="project-technology">Webpack</p>
                <p class="project-technology">Isotope</p>
                <p class="project-technology">localStorage</p>
              </div>
              <p class="project-description">
                This is a to-do list built in Javascript. The main objective of
                the app is to sort your 'todos' in an extremely easy to use way.
                This app also features a lot of animations.
              </p>
              <div class="project-links">
                <a
                  class="website-link"
                  target="_blank"
                  href="https://festive-curran-727aff.netlify.app/"
                  >Website</a
                >
                <a
                  class="github-link"
                  target="_blank"
                  href="https://github.com/jacobrees/To-Do-List"
                  >Code/Docs</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="project-container">
          <h3 class="project-title">Tic Tac Toe</h3>
          <div class="project-content-container">
            <a
              target="_blank"
              href="https://laughing-clarke-dd842a.netlify.app/"
              ><%= image_tag("TicTacToe.png", alt: "project image", class: "project-img") %></a>
            <div class="project-description-container">
              <div class="project-technologies">
                <p class="project-technology">HTML</p>
                <p class="project-technology">SCSS</p>
                <p class="project-technology">JavaScript</p>
              </div>
              <p class="project-description">
                This project is a basic game of Tic Tac Toe. The goal of the
                project was to build this using Javascript. This game also
                features an AI component that was coded from scratch.
              </p>
              <div class="project-links">
                <a
                  class="website-link"
                  target="_blank"
                  href="https://laughing-clarke-dd842a.netlify.app/"
                  >Website</a
                >
                <a
                  class="github-link"
                  target="_blank"
                  href="https://github.com/jacobrees/Tic-Tac-Toe"
                  >Code/Docs</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-padding">
</div>