@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

body {
  background-color: #e4e4e4;
}

/* XL devices (default) */
.navbar {
  position: sticky;
  top: 0;

  width: 100%;
  padding: 20px;
  background-color: #292929;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.nav-container {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  list-style-type: none;
  padding-right: 20px;
  display: flex;
}

.name-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  padding-right: 20px;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.name-link:hover {
  text-decoration: none;
  color: #4dd0e1;
}

.nav-links {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  padding-right: 20px;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.nav-links:hover {
  text-decoration: none;
  color: #4dd0e1;
}

.canvas-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.name-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e16bcf;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

canvas {
  z-index: -1;
  background-color: #292929;
  filter: blur(20px) contrast(40);
  position: absolute;
  top: 0;
}

.home-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: absolute;
}

.home-links {
  color: #4dd0e1;
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
  transition: color 0.2s ease-out;
}

.home-links:hover {
  text-decoration: none;
  color: #e16bcf;
}

.about-container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 20px;
}

.about-me-text {
  text-align: center;
  margin: 5px;
}

.resume-btn {
  background-color: #292929;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
}

.resume-btn:hover {
  background-color: #4dd0e1;
}

.showcase-section {
  width: 100%;
  margin: 0 auto;
}

.showcase-title {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.projects-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.project-container {
  max-width: 900px;
  margin: 0 auto;
}

.project-container:last-of-type {
  padding-bottom: 10px;
}

.project-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.project-content-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
}

.project-content-container-invert {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
  flex-direction: row-reverse;
}

.project-img {
  width: 100%;
  border-radius: 2%;
  border: #919191 solid 1px;
}

.project-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 15px;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.project-technology {
  color: white;
  background-color: #575757;
  border: #1f1f1f 1px solid;
  margin: 3px;
}

.project-description {
  font-size: 20px;
  color: #575757;
  line-height: 28px;
}

.project-links {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.website-link {
  color: white;
  background-color: #202020;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}

.github-link {
  color: white;
  background-color: #202020;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}

/* Large devices */
@media only screen and (max-width: 1199.98px) {
  /* ...code... */
}

/* Medium devices */
@media only screen and (max-width: 991.98px) {
}

/* Small devices */
@media only screen and (max-width: 767.98px) {

  .mobile-padding {
    width: 100%;
    padding-bottom: 20px;
  }
  
  .nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: #292929;
    margin: 0;
  }

  .nav-links {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease-out;
    padding: 0;
  }

  .project-content-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }

  .project-content-container-invert {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
}
