/* XL devices (default) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}

body {
  background: #292929;
}

.canvas-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.name-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e16bcf;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

canvas {
  z-index: -1;
  background-color: #292929;
  filter: blur(20px) contrast(40);
  position: absolute;
  top: 0;
}

.home-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  position: absolute;
}

.home-links {
  color: #4dd0e1;
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
  transition: color 0.2s ease-out;
}

.home-links:hover {
  text-decoration: none;
  color: #e16bcf;
}

/* Large devices */
@media only screen and (max-width: 1199.98px) {
  /* ...code... */
}

/* Medium devices */
@media only screen and (max-width: 991.98px) {
  /* ...code... */
}

/* Small devices */
@media only screen and (max-width: 767.98px) {
  /* ...code... */
}
